* {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
}

h1, h2 {
    color:hsl(234, 12%, 34%);
}

h1 {
    line-height: 20px;
}

h2 {
    margin-bottom: 0%;
}

p {
    color:hsl(229, 6%, 66%);
    margin-top: 0%;
}

.Header {
    color:hsl(229, 6%, 66%);
    font-weight: 300;
}

div > h2 {
    background-color: #fff;
}

div > p {
    background-color: #fff;
}

div > img {
    background-color: #fff;
}

div {
    margin: 3% 0%;
    background-color: #fff;
    padding: 0% 8% 8% 8%;
    border-radius: 5px;
}

.Supervisor {
    border-top: 5px solid hsl(180, 62%, 55%);
    box-shadow:0 4px 15px 0 hsl(234, 12%, 34%, 0.1), 0 6px 20px 0 hsl(234, 12%, 34%, 0.1);
}

.Team-Builder {
    border-top: 5px solid hsl(0, 78%, 62%);
    box-shadow:0 4px 15px 0 hsl(234, 12%, 34%, 0.1), 0 6px 20px 0 hsl(234, 12%, 34%, 0.1);
}

.Karma {
    border-top: 5px solid hsl(34, 97%, 64%);
    box-shadow:0 4px 15px 0 hsl(234, 12%, 34%, 0.1), 0 6px 20px 0 hsl(234, 12%, 34%, 0.1);
}

.Calculator {
    border-top: 5px solid hsl(212, 86%, 64%);
    box-shadow:0 4px 15px 0 hsl(234, 12%, 34%, 0.1), 0 6px 20px 0 hsl(234, 12%, 34%, 0.1);
}

/*  vanaf hier @Media */


@media screen 
and (min-width: 375px) 
and (max-width: 450px) { 

    header {
        padding: 10% 5% 10% 5%;
    }

    h1 {
        font-size: 165%;
    }
    
    .Cards {
        display: flex;
        flex-direction: column;
        align-content: space-between;
        padding: 0% 3% 0% 3%;
    }
}

@media screen
and (min-width: 800px)
/* and (max-width: 1299px) { */
{
    header {
        text-align: center;
        padding: 5% 5% 5% 5%;
    }

    .Cards {
        display: grid;
        grid-template-columns: 350px 350px;
        grid-gap: 3% 3%;
        justify-content: center;
    }

    img {
        padding: 10% 5% 0% 5%;
    }
}

@media screen 
and (min-width: 1300px) {
    header {
        text-align: center;
        padding: 5% 5% 5% 5%;
    }

    .Cards {
        display: grid;
        grid-template-columns: 350px 350px 350px;
        grid-gap: 3% 3%;
        justify-content: center;
    }

    .Supervisor {
        grid-column: 1;
        grid-row: 1 / span 2;
        margin: 45% 0%;
    }

    .Team-Builder, .Karma {
        grid-column: 2;
    }

    .Calculator {
        grid-column: 3;
        grid-row: 1 / span 2;
        margin: 45% 0%;
    }

    img {
        padding: 10% 5% 0% 5%;
    }

}