* {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
}

h1, h2 {
    color:hsl(234, 12%, 34%);
}

/* PSEUDO CLAS EN ELEMENTS BEKIJKEN */
h2 {
    background-color: #fff;
}

p {
    color:hsl(229, 6%, 66%);
    background-color: #fff;
}

.Header {
    color:hsl(229, 6%, 66%);
    font-weight: 300;
}

/*  vanaf hier @Media */
h1 {
    font-size: 165%;
}

.Cards {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    /* background-color: chartreuse; */
}

div {
    /* width: 400px; */
    margin: 3% 0%;
    background-color: #fff;
    padding: 8% 8%;
    border-radius: 5px;
}

div > img {
    background-color: #fff;
}

.Supervisor {
    border-top: 5px solid hsl(180, 62%, 55%);
    box-shadow: -10px 10px 80px ;
}

.Team-Builder {
    border-top: 5px solid hsl(0, 78%, 62%);
}

.Karma {
    border-top: 5px solid hsl(34, 97%, 64%);
}

.Calculator {
    border-top: 5px solid hsl(212, 86%, 64%);
}

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) { 

}